*{
    margin: 0;
    padding: 0;
}

body{
    width:100%;
}




nav{
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 50px;
}

nav li{
list-style-type: none;
float: left;
margin-top: 2px;
}

nav a{
    font-size: 30px;
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    margin: 14px 16px 0px 0px;
    transition:0.3s;
}

nav a:hover{
    color: #3E5DDB;
}

.header p{
    color: #FFFFFF;
    text-align: center;
    font-size: 45px;
    font-style: italic;
}

.bg-slider {
    width: 100%;
    height: 100vh;
    background-position:center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    }
/* ここまで上の方1 */

.main h2{
    color:#3E5DDB;
    text-align: center;
    font-size: 55px;
    padding: 50px;
}

/*Introduction枠*/
.Introduction{
    width: 1000px;
    margin: 0 auto;
}

.Introduction img{
    float: left;
}

.explain a{
    text-decoration: none;
    font-size: 21px;
    padding: 10px 40px;
    color: #FFFFFF;
    border-radius: 12px;
    /* ボタン仮の色 */
    background-color: #3E5DDB; 
}
.explain a:hover {
    box-shadow: 0 0 8px gray;
}


.explain{
    text-align: center;
    overflow: hidden;
    padding: 50px;
}

#explain1 img{
    margin-right:50px;
}

#explain2 img{
    margin-left:50px;
}

.explain p{
    text-align: left;
}

#explain1 p{
    padding-bottom: 50px;
}

#explain2 a, #explain2 p{
    width: 400px;
    float: left;
}

#explain2 a{
    background-color: #FFBF01;
    width: 100px;
    margin-left:100px ;
}


/*Courses枠*/
#particles-js{
    height: 1000px;
    width: 100vw;
    background-color: #D6E6F9;
   }

   .box{
       background-color: #fff;
   }

.all-box{
    /* background-color: antiquewhite; */
    text-align: center;
    width:1200px;
    margin: 0 auto;
}


.box{
    text-align: center;
    display: inline-block;
     border-radius: 12px;
     padding-bottom:50px ; 
     padding-right: 40px;
     padding-left: 40px;
     margin: 20px;
     background-color: #fff;
}

.box p{
  padding: 30px;
}

.box a{
    position: relative;
    text-decoration: none;
    font-size: 10px;
    padding: 10px 25px;
    color: #FFFFFF;
    border-radius: 10px;
    /* ボタン仮の色 */
    background-color: #3E5DDB; 
}
.box a:hover{
    box-shadow: 0 0 8px gray;
}

#box1 a{
 background-color: #F16529;
}
#box2 a{
    background-color: #29A9DF;
}
#box3 a{
    background-color: #333333;
}
#box4 a{
    background-color: #FF5252;
}
#box5 a{
    background-color: #FED700;
}
#box6 a{
    background-color: #FE7536;
}
#box7 a{
background-color: #73CEDD;
}

#box1{
    padding-top: 40px;
}

#box2{
    padding-top: 26px;
}

#box3{
    padding-top: 80px;
}

#box4{
    padding-top: 80px;
}

#box5{
    padding-top: 40px;
}

#box6{
    padding-top: 90px;
}

#box7{
    padding-top: 80px;
}

/*Images枠*/

.slider{
    margin: 100px auto;
    width: 80%;
}
.slider img{
    height: auto;
    width: 100%;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}

/*Access枠*/
.Access{
    text-align: center;
    padding: 50px;
}
/*footer枠*/
footer{
    color: #3E5DDB;
    text-align: center;
    padding: 20px;
}



