*{
    margin: 0;
    padding: 0;
}

body{
    width:100%;
}




nav{
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 50px;
}

nav li{
list-style-type: none;
float: left;
margin-top: 2px;
}

nav a{
    font-size: 30px;
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    margin: 14px 16px 0px 0px;
    transition:0.3s;
}

nav a:hover{
    color: #3E5DDB;
}

.header p{
    color: #FFFFFF;
    text-align: center;
    font-size: 45px;
    font-style: italic;
}

.bg-slider {
    width: 100%;
    height: 100vh;
    background-position:center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    }
/* ここまで上の方1 */

.main h2{
    color:#3E5DDB;
    text-align: center;
    font-size: 55px;
    padding: 50px;
}

/*Introduction枠*/
.Introduction{
    width: 1000px;
    margin: 0 auto;
}

.Introduction img{
    float: left;
}

.explain a{
    text-decoration: none;
    font-size: 21px;
    padding: 10px 40px;
    color: #FFFFFF;
    border-radius: 12px;
    /* ボタン仮の色 */
    background-color: #3E5DDB; 
}
.explain a:hover {
    box-shadow: 0 0 8px gray;
}


.explain{
    text-align: center;
    overflow: hidden;
    padding: 50px;
}

#explain1 img{
    margin-right:50px;
}

#explain2 img{
    margin-left:50px;
}

.explain p{
    text-align: left;
}

#explain1 p{
    padding-bottom: 50px;
}

#explain2 a, #explain2 p{
    width: 400px;
    float: left;
}

#explain2 a{
    background-color: #FFBF01;
    width: 100px;
    margin-left:100px ;
}


/*Courses枠*/
#particles-js{
    height: 1000px;
    width: 100vw;
    background-color: #D6E6F9;
   }

   .box{
       background-color: #fff;
   }

.all-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.box{
    text-align: center;
    display: inline-block;
    flex-direction: row;
     border-radius: 12px;
     margin: 30px 10px;
     width: 230px;
     height: 350px;
     background-color: #fff;
}

.box a, .box p{
    margin-top:180px;
}

#box1{
    background: #fff url(images/html.png) center 50px no-repeat;
}
#box2{
    background: #fff url(images/css.png) center 50px no-repeat;
}
#box3{
    background: #fff url(/images/unity.png) center 80px no-repeat;
}
#box4{
    background: #fff url(/images/ruby.png) center 80px no-repeat;
}
#box5{
    background: #fff url(images/js.png) center 50px no-repeat;
}
#box6{
    background: #fff url(images/swift.png) center 50px no-repeat;
}
#box7{
    background: #fff url(images/go.png) center 50px no-repeat;
}

.box p{
  padding: 30px;
}

.box a{
    position: relative;
    text-decoration: none;
    font-size: 10px;
    padding: 10px 25px;
    color: #FFFFFF;
    border-radius: 10px;
    /* ボタン仮の色 */
    background-color: #3E5DDB; 
}
.box a:hover{
    box-shadow: 0 0 8px gray;
}

#box1 a{
 background-color: #F16529;
}
#box2 a{
    background-color: #29A9DF;
}
#box3 a{
    background-color: #333333;
}
#box4 a{
    background-color: #FF5252;
}
#box5 a{
    background-color: #FED700;
}
#box6 a{
    background-color: #FE7536;
}
#box7 a{
background-color: #73CEDD;
}

/*Images枠*/

.slider{
    margin: 100px auto;
    width: 80%;
}
.slider img{
    height: auto;
    width: 100%;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}

/*Access枠*/
.Access{
    text-align: center;
    padding: 50px;
}
/*footer枠*/
footer{
    color: #3E5DDB;
    text-align: center;
    padding: 20px;
}



.fuwatAnime {
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
   }
   @-webkit-keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
   }
   @keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
   }


   /* ここからスマホ用のスタイル */
   @media all and (max-width:480px){
    nav{
        display: none;
    }

    .header img{
        width: 200px;
    }
    .header p{
        padding-top: 20px;
        font-size: 15px;
    }

    .main h2{
        font-size: 30px;
    }
/*Introductionレスポンシブ*/
.main{
    width: 95%;
}

.explain img{
    width: 95%;
}
.explain p{
    font-size: 15px;
}
.explain{
    width: 270px;
}
/* courses */
#particles-js{
    height: 140vh;
}
.all-box{
    width:100vw;
}
.box{
    flex-wrap: wrap;
    width: 41%;
    height: 180px;
    /* transform: scale(0.5); */
}
#box1{
    background: #fff url(images/html.png) center 20px no-repeat;
    background-size: 40%;
}
#box2{
    background: #fff url(images/css.png) center 20px no-repeat;
    background-size: 40%;
}
#box3{
    background: #fff url(/images/unity.png) center 50px no-repeat;
    background-size: 40%;
}
#box4{
    background: #fff url(/images/ruby.png) center 50px no-repeat;
    background-size: 40%;
}
#box5{
    background: #fff url(images/js.png) center 20px no-repeat;
    background-size: 40%;
}
#box6{
    background: #fff url(images/swift.png) center 10px no-repeat;
    background-size: 40%;
}
#box7{
    background: #fff url(images/go.png) center 10px no-repeat;
    background-size: 40%;
}
.box p{
    font-size: 11px;
    margin-top: 80px;
    padding-bottom: 0px;
}
.box a{
    margin-top: 0px;
}

.Access{
    margin: 0;
    padding: 0;
}
}
iframe{
    width: 100vw;
    height: 300px;
}

  